body{
  background:rgb(255, 255, 255);
  font-family:Arial;
  color:rgb(0, 0, 0);
}

p{
  margin:160px 0 0 20px;
  font-size:12px;
  color:rgb(56, 56, 56);
}

ol, ul{
  font-size:12px;
  color:rgb(68, 60, 60);
}

span {
  display:inline-block;
  margin:10px; 
  color:#888;
}

span.active {
  color:#FCC30A;
}

#wrapper {
  position:relative;
  margin:30px 0 0 30px;
}

#box {
  position:absolute;
  width:100px;
  height:100px;
  background:#0CB558;
  border-radius:100%;
}

#spot {
  position:relative;
  width:30px;
  height:30px;
  top:2px;
  left:2px;
  background:rgb(44, 39, 39);
  border-radius:100%;
}

